{
  "env": {
    "browser": "true"
  },
  "rules": {
    "quotes": [
      0,
      "single"
    ],
    "global-strict": 0,
    "no-use-before-define": 0
  },
  "globals": {
    "requirejs": false,
    "define": "false",
    "require": "false",
    "_": "false"
  }
}